default:
  image:
    name: node:22
  tags:
    - docker
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: pull-push
    paths:
      - .yarn/

.rule: &rule
  if: $CI_COMMIT_BRANCH == "test"
  variables:
    BIBAPI_HOST: "https://bib-dev.inist.fr/api"
    VERSION_NUM: "develop"
    BIB_ENV: "-dev"
    MATOMO_SITE_ID: 86
.rule_main: &rule_main
  if: $CI_COMMIT_BRANCH == "main"
  variables:
    BIBAPI_HOST: "https://bib-preprod.inist.fr/api"
    VERSION_NUM: "main"
    BIB_ENV: "-int"
    MATOMO_SITE_ID: 86
.rule_tag: &rule_tag
  if: $CI_COMMIT_TAG
  variables:
    BIBAPI_HOST: "https://bib.cnrs.fr/api"
    VERSION_NUM: $CI_COMMIT_TAG
    BIB_ENV: "-prd"
    MATOMO_SITE_ID: 1

.rule_merge_request: &rule_merge_request
  if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
  when: never

.before_script: &before_script
  before_script:
    - make install-immutable

variables:
  BIBAPI_HOST: "https://bib-dev.inist.fr/api"
  VERSION_NUM: "develop"
  BIB_ENV: "-dev"
  MATOMO_SITE_ID: 86

include:
  - project: resinglog/ci-templates
    file: docker-publish.yml
    inputs:
      image_name: bibcnrs/front
      image_tag: $VERSION_NUM$BIB_ENV
      registry_url: $CI_NEXUS_REGISTRY_URL:$CI_NEXUS_DOCKER_PORT
      job_name: publish-front-to-nexus
      dockerfile_dir: $CI_PROJECT_DIR/packages/front
      dockerfile_context: $CI_PROJECT_DIR
      build_args:
        - BIBAPI_HOST=${BIBAPI_HOST}
        - MATOMO_TRACKER_URL=${MATOMO_TRACKER_URL}
        - MATOMO_SCRIPT_URL=${MATOMO_SCRIPT_URL}
        - MATOMO_SITE_ID=${MATOMO_SITE_ID}
  - project: resinglog/ci-templates
    file: docker-publish.yml
    inputs:
      image_name: bibcnrs/api
      image_tag: $VERSION_NUM
      registry_url: $CI_NEXUS_REGISTRY_URL:$CI_NEXUS_DOCKER_PORT
      job_name: publish-api-to-nexus
      dockerfile_dir: $CI_PROJECT_DIR/packages/api
      dockerfile_context: $CI_PROJECT_DIR
      build_args:
        - BIBAPI_HOST=${BIBAPI_HOST}
        - http_proxy=${http_proxy}
        - https_proxy=${https_proxy}
  - project: resinglog/ci-templates
    file: docker-publish.yml
    inputs:
      image_name: bibcnrs/admin
      image_tag: $VERSION_NUM$BIB_ENV
      registry_url: $CI_NEXUS_REGISTRY_URL:$CI_NEXUS_DOCKER_PORT
      job_name: publish-admin-to-nexus
      dockerfile_dir: $CI_PROJECT_DIR/packages/admin
      dockerfile_context: $CI_PROJECT_DIR
      build_args:
        - BIBAPI_HOST=${BIBAPI_HOST}

publish-admin-to-nexus:
  rules:
    - *rule

publish-api-to-nexus:
  rules:
    - *rule

publish-front-to-nexus:
  rules:
    - *rule