cookie_secret=S3cr3t!C00kie
header_secret=S3cr3t!H34d3r
admin_secret=S3cr3t!4dm1n
ticket_secret=S3cr3t!T1ck3t
ebsco_host=
EZ_UNPAYWALL_URL=
EZ_UNPAYWALL_KEY=
METADORE_URL=
METADORE_API_KEY=
DOAJ_URL=
MATOMO_TRACKER_URL=
MATOMO_SCRIPT_URL=
MATOMO_SITE_ID=1
LINKIQ_API_INP=
LINKIQ_API_INSIS=
LINKIQ_API_INSB=
LINKIQ_API_IN2P3=
LINKIQ_API_INSHS=
LINKIQ_API_INSMI=
LINKIQ_API_INS2I=
LINKIQ_API_INEE=
LINKIQ_API_INC=
LINKIQ_API_INSU=