OLD_API_URL=https://bib-preprod.inist.fr
cookie_secret=S3cr3t!C00kie
header_secret=S3cr3t!H34d3r
admin_secret=S3cr3t!4dm1n
ticket_secret=S3cr3t!T1ck3t
ebsco_host=
EZ_UNPAYWALL_URL=
EZ_UNPAYWALL_KEY=
METADORE_URL=
METADORE_API_KEY=
DOAJ_URL=
