OLD_API_URL=https://bib-preprod.inist.fr
DATABASE_URL=postgres://postgres:S3cr3t@bib-db/bibcnrs
NODE_ENV=development
MAIL_SERVER_HOST= bib-mail
MAIL_SERVER_PORT= 1025

VITE_BIBAPI_HOST=http://localhost:3000/api
VITE_SOURCE_MAP=true
