# Versions
NODE_ENV=production
BIBAPI_VERSION=latest
BIBFRONT_VERSION=latest
BIBADMIN_VERSION=latest
CDN_CONFIG_FILE=./ops/bib-proxy/nginx.prod.conf

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=S3cr3t
POSTGRES_DB=bibcnrs

# API
http_proxy=
https_proxy=
BIBAPI_HOST=https://bib-preprod.inist.fr
BIB_CONTENT_DELIVERY_HOST=https://bib-preprod.inist.fr/files
ebsco_host=
ticket_secret=
cookie_secret=S3cr3t!C00kie
header_secret=S3cr3t!H34d3r
admin_secret=S3cr3t!4dm1n
MAIL_SERVER_HOST=
MAIL_SERVER_PORT=
EZ_UNPAYWALL_URL=
EZ_UNPAYWALL_KEY=
METADORE_URL=
METADORE_API_KEY=
DOAJ_URL=