services:
  api-test:
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile
      target: dev
    command: ["yarn", "workspace", "@bibcnrs/api", "run", "test:watch"]
    tty: true
    develop:
      watch:
        - action: sync
          path: ./packages/api/src
          target: /app/packages/api/src
        - action: sync
          path: ./packages/api/vitest.config.mts
          target: /app/packages/api/vitest.config.mts
        - action: rebuild
          path: ./packages/api/test/seed.ts
        - action: rebuild
          path: ./packages/api/prisma/schema.prisma
        - action: rebuild
          path: ./package.json
        - action: rebuild
          path: ./packages/api/package.json
    depends_on:
      db-test:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://postgres:secret@db-test/bibcnrs
      - NODE_ENV=${NODE_ENV:-development}
      - MAIL_SERVER_HOST= mail
      - MAIL_SERVER_PORT= 1025
      - cookie_secret=${cookie_secret}
      - header_secret=${header_secret}
      - admin_secret=${admin_secret}
      - BIB_CONTENT_DELIVERY_HOST=http://localhost:3000/files
      - MAIL_FROM=bibcnrs@bib.cnrs.fr
      - MAIL_TO=assistance-portail@inist.fr
      - BIB_UPLOADS_DIR=/app/packages/api/uploads
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: ${API_MAX_MEMORY:-2G}

  front-test:
    build:
      context: .
      dockerfile: ./packages/front/Dockerfile
      target: dev
    environment:
      - NODE_ENV=development
      - VITE_ENV=development
      - VITE_BIBAPI_HOST=http://localhost:3000/api
      - VITE_SOURCE_MAP=true
    depends_on:
      - api-test

  db-test:
    image: postgres:17.6
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=bibcnrs_test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "15432:5432"
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: ${API_MAX_MEMORY:-1G}
