# Versions
NODE_ENV=production
BIBAPI_HOST=http://localhost:3000/api
BIB_CONTENT_DELIVERY_HOST=http://localhost:3000/files
bib_admin_host=http://localhost:3000/admin

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=S3cr3t
POSTGRES_DB=bibcnrs

# API
http_proxy=
https_proxy=
BIBAPI_HOST=https://bib-preprod.inist.fr
BIB_CONTENT_DELIVERY_HOST=https://bib-preprod.inist.fr/files
ebsco_host=
ticket_secret=
cookie_secret=S3cr3t!C00kie
header_secret=S3cr3t!H34d3r
admin_secret=S3cr3t!4dm1n
MAIL_SERVER_HOST=
MAIL_SERVER_PORT=
EZ_UNPAYWALL_URL=
EZ_UNPAYWALL_KEY=
METADORE_URL=
METADORE_API_KEY=
DOAJ_URL=
LINKIQ_API_INP=
LINKIQ_API_INSIS=
LINKIQ_API_INSB=
LINKIQ_API_IN2P3=
LINKIQ_API_INSHS=
LINKIQ_API_INSMI=
LINKIQ_API_INS2I=
LINKIQ_API_INEE=
LINKIQ_API_INC=
LINKIQ_API_INSU=
